.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    justify-content: center;
    background-color: #9e3939;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23ab0606' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    a {
        width: 85%;
        height: 450px;
        overflow: hidden;
        margin: 2.5px 6px;
        @include for-tablet-portrait-up {
            width: 300px;
            margin: 2.5px;
            &:hover {
                overflow: hidden;
                transition: 0.5s;
                position: relative;
                filter: contrast(.80);
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
        img {
            width: 100%;
            height: 445px;
            cursor: pointer;
            overflow: hidden;
            object-fit: cover;
            border-radius: 5px;
            &:hover {
                transition: .5s;
                transform: scale(.98);
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}