html {
    scale: 100%;
    scroll-behavior: smooth;
    color: rgb(250, 250, 250);
    font-family: "Anton", sans-serif;
}

a,
p,
h1,
h2,
h3,
h4 {
    color: white;
    letter-spacing: .5px;
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    overflow-x: hidden;
}