header {
    width: 100%;
    display: flex;
    min-height: 70px;
    padding: 5px 20px;
    align-items: center;
    background: $background;
    justify-content: space-between;
    @include for-tablet-landscape-up {
        padding: 10px 30px;
    }
    .logo img {
        height: 40px;
        @include for-tablet-portrait-up {
            height: 50px;
        }
    }
    .div__link {
        display: none;
        @include for-tablet-landscape-up {
            display: flex;
            grid-gap: 14px;
        }
    }
    .div__icon {
        display: none;
        @include for-tablet-landscape-up {
            display: flex;
            grid-gap: 5px;
        }
    }
    .burguer {
        gap: 3px;
        top: 25px;
        right: 15px;
        z-index: 10;
        width: 42px;
        height: 42px;
        display: grid;
        cursor: pointer;
        border-radius: 50%;
        place-items: center;
        place-content: center;
        @include for-tablet-landscape-up {
            display: none;
        }
        div {
            width: 26px;
            height: 4px;
            background: #d84848;
        }
    }
}

.menu {
    top: 0;
    left: 0;
    z-index: 30;
    width: 90vw;
    height: 100vh;
    padding: 25px;
    display: none;
    position: fixed;
    animation: menu 0.5s ease;
    align-content: space-evenly;
    background-color: #6c2424f7;
    @keyframes menu {
        0% {
            width: 0vw;
        }
        100% {
            width: 90vw;
        }
    }
    .burguer__close {
        top: 30px;
        right: 20px;
        position: absolute;
        p {
            width: 40px;
            height: 40px;
            cursor: pointer;
            font-size: 1.6em;
            text-align: center;
            border-radius: 50%;
            &:hover {
                transition: .3s;
                color: #9e3939;
                background: white;
            }
        }
    }
    .menu__link {
        gap: 35px;
        display: grid;
        justify-items: center;
        font-family: $main-font;
    }
    .menu__icon {
        gap: 2.5%;
        display: flex;
        justify-content: center;
    }
}

.hero {
    min-height: 570px;
    padding: 30px 15px;
    background: radial-gradient(#201c1ce6, #190f0fb3), url("image12.png") center center;
    @include for-tablet-portrait-up {
        padding: 30px;
    }
    .hero__text {
        text-align: left;
        @include for-tablet-landscape-up {
            width: 75vw;
            height: 100%;
        }
        h1 {
            font-size: 2em;
            letter-spacing: 1px;
        }
        p {
            margin: 25px 0;
            font-size: 1.2em;
            font-weight: bold;
            line-height: 33px;
            font-family: 'segoe UI';
        }
        button {
            height: 40px;
            width: 230px;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 20px;
            margin-top: 15px;
            font-weight: bold;
            border-radius: 3px;
            font-family: $main-font;
            background: rgb(136, 39, 39);
            @include for-tablet-portrait-up {
                margin-top: 65px;
            }
            &:hover {
                font-size: 22px;
                transition: .5s;
                background: #c44545;
            }
        }
    }
}

.link {
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-family: $main-font;
    overflow-y: hidden;
    &::after {
        content: "";
        border-radius: 5px;
        border-top: 3px solid white;
        position: absolute;
        right: 100%;
        bottom: 1px;
        left: 0;
    }
    &:hover::after {
        transition: 0.7s;
        right: 0;
    }
}

.icon {
    width: 36px;
    height: 36px;
    padding: 5px;
    border-radius: 25%;
    border: solid 2px #d84848;
    @include for-tablet-landscape-up {
        width: 35px;
        height: 35px;
    }
    &:hover {
        padding: 3px;
        animation: icon 0.7s forwards;
    }
}

@keyframes icon {
    0% {
        background-color: $border-color;
    }
    100% {
        background-color: rgba(125, 125, 125, 0);
    }
}