.music__player {
    width: 100%;
    display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
    background: $background;
    .player-title {
        width: 100%;
        padding: 0 20px;
        font-size: 1.7em;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
    }
    .left-box {
        width: 100%;
        padding: 20px;
        min-height: 100px;
        justify-items: center;
        align-content: flex-start;
        @include for-tablet-portrait-up {
            padding: 35px 15%;
        }
        @include for-tablet-landscape-up {
            width: 30%;
            padding: 30px 0px 0px 20px;
        }
        img {
            width: 100%;
        }
    }
    .right-box {
        width: 100%;
        height: 440px;
        padding: 20px;
        font-size: 20px;
        @include for-tablet-landscape-up {
            width: 70%;
        }
        ul {
            height: 100%;
            display: grid;
            align-content: stretch;
            li {
                width: 100%;
                padding: 0 3px;
                display: flex;
                margin-top: 1px;
                transition: .5s;
                list-style: none;
                border-radius: 2.5px;
                align-items: flex-end;
                border-bottom: solid 2px gray;
                justify-content: space-between;
                .button-box {
                    width: 21vw;
                    @include for-tablet-portrait-up {
                        width: 86px;
                    }
                    button {
                        width: 45%;
                        height: 3.8vh;
                        font-size: .7em;
                        cursor: pointer;
                        color: #191919;
                        margin-bottom: 5px;
                        border-radius: 10px 0;
                        border: solid white 2px;
                        @include for-tablet-portrait-up {
                            height: 23px;
                            width: 40px;
                        }
                        &:hover {
                            color: white;
                            transition: 0.7s;
                            background-color: #282828;
                        }
                    }
                }
            }
        }
    }
}