@import "variables"; // Background colors, font-family
@import "mixins"; // Media queries
@import "global"; // Html, body
@import "header"; // Header, burguer menu & hero
@import "contact";
@import "player"; // Music player application
@import "gallery"; // Image Gallery (lightbox)
@import "footer"; // back to top button & footer