@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  scale: 100%;
  scroll-behavior: smooth;
  color: #fafafa;
  font-family: "Anton", sans-serif;
}

a,
p,
h1,
h2,
h3,
h4 {
  color: white;
  letter-spacing: .5px;
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  padding: 5px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #691919;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 850px) {
  header {
    padding: 10px 30px;
  }
}

header .logo img {
  height: 40px;
}

@media (min-width: 600px) {
  header .logo img {
    height: 50px;
  }
}

header .div__link {
  display: none;
}

@media (min-width: 850px) {
  header .div__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 14px;
  }
}

header .div__icon {
  display: none;
}

@media (min-width: 850px) {
  header .div__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 5px;
  }
}

header .burguer {
  gap: 3px;
  top: 25px;
  right: 15px;
  z-index: 10;
  width: 42px;
  height: 42px;
  display: -ms-grid;
  display: grid;
  cursor: pointer;
  border-radius: 50%;
  place-items: center;
  place-content: center;
}

@media (min-width: 850px) {
  header .burguer {
    display: none;
  }
}

header .burguer div {
  width: 26px;
  height: 4px;
  background: #d84848;
}

.menu {
  top: 0;
  left: 0;
  z-index: 30;
  width: 90vw;
  height: 100vh;
  padding: 25px;
  display: none;
  position: fixed;
  -webkit-animation: menu 0.5s ease;
          animation: menu 0.5s ease;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  background-color: #6c2424f7;
}

@-webkit-keyframes menu {
  0% {
    width: 0vw;
  }
  100% {
    width: 90vw;
  }
}

@keyframes menu {
  0% {
    width: 0vw;
  }
  100% {
    width: 90vw;
  }
}

.menu .burguer__close {
  top: 30px;
  right: 20px;
  position: absolute;
}

.menu .burguer__close p {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.6em;
  text-align: center;
  border-radius: 50%;
}

.menu .burguer__close p:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #9e3939;
  background: white;
}

.menu .menu__link {
  gap: 35px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  font-family: "Anton" sans-serif;
}

.menu .menu__icon {
  gap: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  min-height: 570px;
  padding: 30px 15px;
  background: radial-gradient(#201c1ce6, #190f0fb3), url("image12.png") center center;
}

@media (min-width: 600px) {
  .hero {
    padding: 30px;
  }
}

.hero .hero__text {
  text-align: left;
}

@media (min-width: 850px) {
  .hero .hero__text {
    width: 75vw;
    height: 100%;
  }
}

.hero .hero__text h1 {
  font-size: 2em;
  letter-spacing: 1px;
}

.hero .hero__text p {
  margin: 25px 0;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 33px;
  font-family: 'segoe UI';
}

.hero .hero__text button {
  height: 40px;
  width: 230px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 15px;
  font-weight: bold;
  border-radius: 3px;
  font-family: "Anton" sans-serif;
  background: #882727;
}

@media (min-width: 600px) {
  .hero .hero__text button {
    margin-top: 65px;
  }
}

.hero .hero__text button:hover {
  font-size: 22px;
  -webkit-transition: .5s;
  transition: .5s;
  background: #c44545;
}

.link {
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-family: "Anton" sans-serif;
  overflow-y: hidden;
}

.link::after {
  content: "";
  border-radius: 5px;
  border-top: 3px solid white;
  position: absolute;
  right: 100%;
  bottom: 1px;
  left: 0;
}

.link:hover::after {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  right: 0;
}

.icon {
  width: 36px;
  height: 36px;
  padding: 5px;
  border-radius: 25%;
  border: solid 2px #d84848;
}

@media (min-width: 850px) {
  .icon {
    width: 35px;
    height: 35px;
  }
}

.icon:hover {
  padding: 3px;
  -webkit-animation: icon 0.7s forwards;
          animation: icon 0.7s forwards;
}

@-webkit-keyframes icon {
  0% {
    background-color: #7d7d7d;
  }
  100% {
    background-color: rgba(125, 125, 125, 0);
  }
}

@keyframes icon {
  0% {
    background-color: #7d7d7d;
  }
  100% {
    background-color: rgba(125, 125, 125, 0);
  }
}

.section__contact {
  width: 100%;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 0, 0, 0.9)), to(rgba(25, 0, 0, 0.8))), url("hero.webp") center center;
  background: linear-gradient(rgba(25, 0, 0, 0.9), rgba(25, 0, 0, 0.8)), url("hero.webp") center center;
}

.section__contact .contact__title {
  width: 100%;
  height: 60px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section__contact .contact__title h1 {
  font-size: 2em;
  letter-spacing: 1px;
}

.section__contact .cards__box {
  gap: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 370px;
  place-items: center;
  place-content: center;
}

.section__contact .cards__box .contact__card {
  width: 85%;
  height: 240px;
  position: relative;
  border-radius: 5px;
  place-items: center;
  place-content: center;
}

@media (min-width: 600px) {
  .section__contact .cards__box .contact__card {
    width: 195px;
    height: 195px;
  }
}

.section__contact .cards__box .contact__card:hover .item__icon {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.section__contact .cards__box .contact__card:hover .item__content {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.section__contact .cards__box .contact__card:nth-child(1) {
  background: RGB(14, 97, 127);
}

.section__contact .cards__box .contact__card:nth-child(2) {
  background: RGB(110, 192, 58);
}

.section__contact .cards__box .contact__card:nth-child(3) {
  background: RGB(249, 96, 90);
}

.section__contact .cards__box .contact__card:nth-child(3) p {
  font-size: .87em;
}

.section__contact .cards__box .contact__card .item__icon {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: absolute;
}

.section__contact .cards__box .contact__card .item__icon img {
  height: 100%;
  width: 100%;
}

.section__contact .cards__box .contact__card .item__content {
  gap: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  place-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.section__contact .cards__box .contact__card .item__content img {
  width: 80px;
  height: 80px;
}

.section__contact .cards__box .contact__card .item__content h4 {
  font-size: 1.2em;
  letter-spacing: .8px;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Bebas Neue', cursive;
}

.section__contact .cards__box .contact__card .item__content button {
  width: 120px;
  height: 25px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  border-style: hidden;
  font-family: "Anton" sans-serif;
  background: rgba(0, 0, 0, 0.2);
}

.music__player {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #691919;
}

.music__player .player-title {
  width: 100%;
  padding: 0 20px;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.music__player .left-box {
  width: 100%;
  padding: 20px;
  min-height: 100px;
  justify-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media (min-width: 600px) {
  .music__player .left-box {
    padding: 35px 15%;
  }
}

@media (min-width: 850px) {
  .music__player .left-box {
    width: 30%;
    padding: 30px 0px 0px 20px;
  }
}

.music__player .left-box img {
  width: 100%;
}

.music__player .right-box {
  width: 100%;
  height: 440px;
  padding: 20px;
  font-size: 20px;
}

@media (min-width: 850px) {
  .music__player .right-box {
    width: 70%;
  }
}

.music__player .right-box ul {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.music__player .right-box ul li {
  width: 100%;
  padding: 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  -webkit-transition: .5s;
  transition: .5s;
  list-style: none;
  border-radius: 2.5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: solid 2px gray;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.music__player .right-box ul li .button-box {
  width: 21vw;
}

@media (min-width: 600px) {
  .music__player .right-box ul li .button-box {
    width: 86px;
  }
}

.music__player .right-box ul li .button-box button {
  width: 45%;
  height: 3.8vh;
  font-size: .7em;
  cursor: pointer;
  color: #191919;
  margin-bottom: 5px;
  border-radius: 10px 0;
  border: solid white 2px;
}

@media (min-width: 600px) {
  .music__player .right-box ul li .button-box button {
    height: 23px;
    width: 40px;
  }
}

.music__player .right-box ul li .button-box button:hover {
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #282828;
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9e3939;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23ab0606' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.gallery a {
  width: 85%;
  height: 450px;
  overflow: hidden;
  margin: 2.5px 6px;
}

@media (min-width: 600px) {
  .gallery a {
    width: 300px;
    margin: 2.5px;
  }
  .gallery a:hover {
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    -webkit-filter: contrast(0.8);
            filter: contrast(0.8);
  }
}

.gallery a::-webkit-scrollbar {
  display: none;
}

.gallery a img {
  width: 100%;
  height: 445px;
  cursor: pointer;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.gallery a img:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.gallery a img::-webkit-scrollbar {
  display: none;
}

.backto__top {
  z-index: 99;
  right: 15px;
  width: 45px;
  height: 45px;
  bottom: 25px;
  border: hidden;
  cursor: pointer;
  position: fixed;
  font-size: 75px;
  color: #d84848;
  text-align: center;
  overflow-y: hidden;
  border-radius: 50%;
  background: #ffffffcc;
}

.backto__top:hover {
  background: white;
}

@media (min-width: 850px) {
  .backto__top {
    right: 50px;
    bottom: 50px;
  }
}

footer {
  width: 100%;
  min-height: 250px;
  background: #691919;
  padding: 10px 25px 0 25px;
}

footer .footer__block {
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  min-height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: solid 2px #7d7d7d;
}

@media (min-width: 600px) {
  footer .footer__block {
    gap: 0;
  }
}

footer .footer__block .footer__column {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin: 0 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  footer .footer__block .footer__column {
    width: 200px;
    text-align: left;
  }
}

footer .footer__block .footer__column a {
  position: relative;
}

footer .footer__block .footer__column a::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  border-top: 3px solid white;
  right: 100%;
  bottom: 1px;
  left: 0;
  z-index: 2;
}

footer .footer__block .footer__column a:hover::after {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  right: 0;
}

footer .footer__block .footer__column h1,
footer .footer__block .footer__column h2,
footer .footer__block .footer__column h3 {
  margin: 2px;
  color: lightgray;
  font-size: 1.4em;
  letter-spacing: .6px;
  font-family: 'Bebas Neue', cursive;
}

footer .footer__block .footer__icon {
  gap: 3px;
  min-height: 40px;
}

footer .footer__block .footer__icon img {
  width: 33px;
  height: 33px;
  padding: 5px;
  border-radius: 25%;
  border: solid 2px #d84848;
}

footer .footer__block .footer__icon img:hover {
  padding: 3px;
  -webkit-animation: img 0.7s forwards;
          animation: img 0.7s forwards;
}

@-webkit-keyframes img {
  0% {
    background-color: #7d7d7d;
  }
  100% {
    background-color: rgba(125, 125, 125, 0);
  }
}

@keyframes img {
  0% {
    background-color: #7d7d7d;
  }
  100% {
    background-color: rgba(125, 125, 125, 0);
  }
}

footer .footer__block .author {
  width: 100%;
  text-align: center;
}

footer .footer__block .author p {
  color: #7d7d7d;
}

footer .footer__block .author p a {
  color: #7d7d7d;
}

footer .footer__block .author p a:hover {
  color: white;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
/*# sourceMappingURL=style.css.map */