.section__contact {
    width: 100%;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    background: linear-gradient(rgba(25, 0, 0, .9), rgba(25, 0, 0, .8)), url("hero.webp") center center;
    .contact__title {
        width: 100%;
        height: 60px;
        text-align: center;
        align-content: center;
        h1 {
            font-size: 2em;
            letter-spacing: 1px;
        }
    }
    .cards__box {
        gap: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        min-height: 370px;
        place-items: center;
        place-content: center;
        .contact__card {
            width: 85vw;
            height: 100vw;
            position: relative;
            border-radius: 5px;
            place-items: center;
            place-content: center;
            @include for-tablet-portrait-up {
                width: 220px;
                height: 250px;
            }
            &:hover .item__icon {
                transition: .6s;
                transform: translateX(200%);
            }
            &:hover .item__content {
                transition: .6s;
                transform: translateX(0%);
            }
            &:nth-child(1) {
                background: RGB(14, 97, 127);
            }
            &:nth-child(2) {
                background: RGB(110, 192, 58);
            }
            &:nth-child(3) {
                background: RGB(249, 96, 90);
            }
            &:nth-child(3) p {
                font-size: .87em;
            }
            .item__icon {
                width: 100%;
                height: 100%;
                overflow-y: hidden;
                position: absolute;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .item__content {
                gap: 5px;
                height: 100%;
                display: flex;
                place-items: center;
                place-content: center;
                flex-direction: column;
                transform: translateX(-200%);
                img {
                    width: 80px;
                    height: 80px;
                }
                h4 {
                    font-size: 1.2em;
                    letter-spacing: .8px;
                    color: rgba(0, 0, 0, .6);
                    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
                    font-family: 'Bebas Neue', cursive;
                }
                button {
                    width: 120px;
                    height: 25px;
                    color: white;
                    cursor: pointer;
                    border-radius: 3px;
                    border-style: hidden;
                    font-family: $main-font;
                    background: rgba(0, 0, 0, .2);
                }
            }
        }
    }
}